@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Gravitas+One&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Russo+One&family=Tektur:wght@400..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(77, 70, 197)), color-stop(45%, rgb(80, 80, 201)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(77, 70, 197) 20%, rgb(80, 80, 201) 45%, rgb(0, 212, 255) 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__links {
  margin-right: auto;
  margin-left: 20px;
  min-width: 315px;
}
.header__payload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.header__titleStart {
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3.1vw;
}
.header__titleEnd:hover {
  color: rgb(255, 244, 149);
}
.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__timeValue {
  width: 100px;
  font-size: 18px;
}
.header__currencyList {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(247, 222, 4);
  border-radius: 7px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  word-break: keep-all;
}
.header__currencyList:hover {
  background-color: rgba(247, 222, 4, 0.5);
  color: rgb(207, 207, 207);
}
.header__selectDefaultCurrency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3vw;
  background-color: rgb(221, 221, 221);
  width: 9vw;
  border-radius: 8px;
  border: 2px solid rgb(207, 207, 207);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__selectDefaultCurrencyValue {
  margin-left: 15%;
}
.header__selectDefaultCurrency:hover {
  background-color: rgb(196, 192, 192);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main__header {
  width: 75vw;
  background-color: aliceblue;
  margin-top: 8vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.main__headerGlobalInfo {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main__headerLikeInfo {
  font-size: 30px;
  font-weight: 1000;
  margin-right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main__headerDop {
  font-size: 30px;
  font-weight: 1000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main__moneyChange {
  background-color: aliceblue;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10%;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
}
.main__moneyChangeInfo {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 23px;
  font-weight: 677;
}
.main__moneyChangeCourse {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 777;
  margin-top: 5px;
}
.main__moneyChangeWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  gap: 15px;
  padding: 10px 10px 10px 10px;
}
.main__moneyChangeWindowSum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main__moneyChangeWindowSumLabel {
  position: absolute;
  left: 0px;
  top: -20px;
  font-size: 18px;
}
.main__moneyChangeWindowSumInput {
  height: 50px;
  outline: none;
  border-radius: 10px;
  width: 23vw;
  border: 2px solid grey;
}
.main__moneyChangeWindowResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main__moneyChangeWindowResultLabel {
  position: absolute;
  left: 0px;
  top: -20px;
  font-size: 18px;
}
.main__moneyChangeWindowResultInput {
  height: 50px;
  outline: none;
  border-radius: 10px;
  width: 23vw;
  border: 2px solid grey;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(221, 221, 221, 0.616);
}
.main__moneyChangeWindowSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(221, 221, 221);
  width: 5vw;
  height: 50px;
  border-radius: 8px;
  border: 2px solid rgb(207, 207, 207);
  margin-left: 0.15vw;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
  position: relative;
}
.main__moneyChangeWindowSelect:hover {
  background-color: rgba(75, 76, 77, 0.284);
}
.main__currencyList {
  background-color: rgb(255, 255, 255);
  width: 75vw;
  height: 65vh;
  margin-top: 1vh;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}
.main__currencyListGlobal {
  width: 65%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgb(194, 194, 194);
  overflow-y: auto;
  position: relative;
}
.main__currencyListGlobalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__currencyListLike {
  overflow-y: auto;
  width: 40%;
}
.main__currencyListLikeContainer {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__currencyListItem {
  width: 18.2vw;
  height: 45px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: rgb(243, 243, 235);
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background-color 0.33s ease-in-out;
  transition: background-color 0.33s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main__currencyListItemName {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  position: absolute;
  top: 15px;
  left: 11vw;
}
.main__currencyListItemValue {
  font-size: 1.7vw;
  margin-left: 5px;
}
.main__currencyListItemLike {
  position: absolute;
  top: 15px;
  left: 77%;
  width: 30%;
}
.main__currencyListItem:hover {
  background-color: rgb(255, 255, 157);
}

.selectList {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 9vw;
  min-height: 10vh;
  max-height: 30vh;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  overflow-x: visible;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectList__item {
  padding: 5px 5px 5px 5px;
  width: 92%;
  border-bottom: 2px solid black;
  border-radius: 6px;
  background-color: rgb(214, 214, 214);
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
.selectList__itemName {
  font-size: 20px;
}
.selectList__item:hover {
  background-color: rgb(134, 161, 235);
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.selectList::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 850px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100vw;
  }
  .header__links {
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .header__titleStart {
    font-size: 20px;
    margin-left: 5px;
  }
  .header__time {
    margin-right: 5px;
  }
  .header__timeValue {
    width: 90px;
    font-size: 15px;
  }
  .header__selectDefaultCurrency {
    width: 110px;
  }
  .header__selectDefaultCurrencyValue {
    margin-left: 10%;
  }
  .header .selectList {
    width: 100px;
  }
  .header .selectListItem {
    width: 95px;
  }
  .main__header {
    width: 92vw;
    margin-top: 1vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__headerDop {
    font-size: 16px;
  }
  .main__moneyChange {
    width: 80vw;
    margin-left: 0px;
    margin-top: 20vw;
  }
  .main__moneyChangeInfo {
    font-size: 20px;
  }
  .main__moneyChangeCourse {
    font-size: 16px;
  }
  .main__moneyChangeWindowResult {
    margin-left: 20px;
  }
  .main__moneyChangeWindowResultLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -30px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowResultInput {
    width: 56vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowSumLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -10px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowSumInput {
    width: 56vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowSelect {
    width: 28%;
    max-width: 90px;
    margin-left: 5px;
    height: 46px;
  }
  .main__moneyChangeWindowSelectItem {
    width: 95px;
  }
  .main__currencyList {
    width: 92vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__currencyListItem {
    width: 38%;
    height: 48px;
    margin-top: 10px;
  }
  .main__currencyListItemName {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    position: absolute;
    top: 15px;
    left: 17vw;
  }
  .main__currencyListItemValue {
    font-size: 14px;
  }
  .main__currencyListItemLike {
    width: 28%;
    top: 6px;
    right: 8%;
  }
  .main__currencyListGlobal {
    width: 55%;
  }
  .main__currencyListLike {
    width: 45%;
  }
  .main .selectList {
    min-width: 105px;
    top: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .selectList__item {
    padding: 6px;
    width: 90px;
  }
  .main .selectList__itemName {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .header {
    width: 99.7%;
  }
  .header__links {
    font-size: 14px;
  }
  .header__titleStart {
    font-size: 18px;
  }
  .header__timeValue {
    width: 70px;
    font-size: 14px;
  }
  .header__currencyList {
    font-size: 14px;
    padding: 4px 6px;
  }
  .header__selectDefaultCurrency {
    width: 84px;
    max-height: 50px;
  }
  .main__headerGlobalInfo, .main__headerLikeInfo, .main__headerDop {
    font-size: 18px;
  }
  .main__moneyChangeWindowResultLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -30px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowResultInput {
    width: 61vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowResultSelect {
    max-width: 100px;
    height: 46px;
  }
  .main__moneyChangeWindowResultSelectItem {
    width: 95px;
  }
  .main__moneyChangeWindowSumLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -10px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowSumInput {
    width: 60vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowSumSelect {
    max-width: 90px;
    height: 46px;
  }
  .main__moneyChangeWindowSumSelectItem {
    width: 85px;
  }
  .main__currencyListItem {
    width: 100%;
    height: 50px;
  }
  .main__currencyListItemName {
    left: 40%;
    font-size: 20px;
    margin-left: 0px;
    top: 15px;
  }
  .main__currencyListItemValue {
    font-size: 13px;
    margin-left: -20px;
  }
  .main__currencyListItemLike {
    left: 15%;
    width: 22%;
    top: 20px;
  }
  .main .selectList {
    width: 85px;
  }
  .main .selectList__itemName {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .header__links {
    font-size: 12px;
  }
  .header__titleStart {
    font-size: 14px;
  }
  .header__timeValue {
    width: 60px;
    font-size: 12px;
  }
  .header__currencyList {
    font-size: 12px;
    padding: 3px 5px;
  }
  .header__currencyListGlobal {
    width: 50%;
  }
  .header__currencyListLike {
    width: 50%;
  }
  .header__selectDefaultCurrency {
    width: 86px;
    max-height: 40px;
  }
  .header__selectDefaultCurrencyValue {
    font-size: 15px;
  }
  .main__header {
    font-size: 12px;
  }
  .main__headerDop {
    font-size: 14px;
  }
  .main__moneyChangeWindowResultLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -30px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowResultInput {
    width: 58vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowResultSelect {
    width: 26px;
    min-width: 36px;
    height: 42px;
  }
  .main__moneyChangeWindowSumLabel {
    font-size: 16px;
    position: relative;
    top: -30px;
    left: -10px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .main__moneyChangeWindowSumInput {
    width: 60vw;
    height: 46px;
    margin-left: -60px;
  }
  .main__moneyChangeWindowSumSelect {
    width: 26px;
    min-width: 36px;
    height: 42px;
  }
  .main__currencyListItemName {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    position: absolute;
    top: 15px;
    left: 14vw;
  }
  .main__currencyListItemValue {
    font-size: 12px;
  }
  .main__currencyListItemLike {
    left: 40%;
  }
  .main .selectList {
    max-width: 40px;
    top: 54px;
    left: -20px;
  }
  .main .selectList__item {
    max-width: 70px;
  }
  .main .selectList__itemName {
    font-size: 13px;
  }
}