.header {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 70px;
     background-color: rgb(255, 255, 255);
     align-items: center;
     justify-content: space-between;
     font-family: "Gravitas One", serif;
     font-weight: 400;
     font-style: normal;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     flex-shrink: 0;

     &__links {
          margin-right: auto;
          margin-left: 20px;
          min-width: 315px;
     }
     &__payload {
          display: flex;
          gap: 7px;
     }

     &__titleStart {
          margin-left: 10px;
          user-select: none;
          font-size: 3.1vw;
     }
     &__titleEnd:hover {
          color: rgb(255, 244, 149);
     }

     &__time {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          gap: 10px;
          flex-shrink: 0;
          &Value {
               width: 100px;
               font-size: 18px;
          }
     }
     &__currencyList {
          font-family:
               "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
               sans-serif;
          font-weight: 900;
          font-style: normal;
          font-size: 20px;

          margin-left: 10px;
          background-color: rgb(247, 222, 4);
          border-radius: 7px;
          text-align: center;
          user-select: none;
          transition: all 0.3s ease;
          text-decoration: none;
          word-break: keep-all;
     }
     &__currencyList:hover {
          background-color: rgb(247, 222, 4, 0.5);
          color: rgb(207, 207, 207);
     }
     &__selectDefaultCurrency {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 3vw;
          background-color: rgb(221, 221, 221);
          width: 9vw;
          border-radius: 8px;
          border: 2px solid rgb(207, 207, 207);
          position: relative;
          user-select: none;
          &Value {
               margin-left: 15%;
          }
     }
     &__selectDefaultCurrency:hover {
          background-color: rgb(196, 192, 192);
     }
}
