.main {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
     &__header {
          width: 75vw;
          background-color: aliceblue;
          margin-top: 8vh;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          &GlobalInfo {
               margin-left: 10px;
               font-size: 30px;
               font-weight: 1000;
               font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
          }
          &LikeInfo {
               font-size: 30px;
               font-weight: 1000;
               margin-right: 10px;
               font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
          }
          &Dop {
               font-size: 30px;
               font-weight: 1000;
               font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
          }
     }
     &__moneyChange {
          background-color: aliceblue;
          width: 30vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-top: 10%;
          padding: 15px 15px 15px 15px;
          border-radius: 20px;
          &Info {
               align-self: center;
               font-size: 23px;
               font-weight: 677;
          }

          &Course {
               align-self: center;
               font-size: 18px;
               font-weight: 777;
               margin-top: 5px;
               &One {
               }
               &Two {
               }
          }

          &Window {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               height: 30vh;
               gap: 15px;
               padding: 10px 10px 10px 10px;
               &Sum {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &Label {
                         position: absolute;
                         left: 0px;
                         top: -20px;
                         font-size: 18px;
                    }
                    &Input {
                         height: 50px;
                         outline: none;
                         border-radius: 10px;
                         width: 23vw;
                         border: 2px solid grey;
                    }
               }

               &Result {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &Label {
                         position: absolute;
                         left: 0px;
                         top: -20px;
                         font-size: 18px;
                    }
                    &Input {
                         height: 50px;
                         outline: none;
                         border-radius: 10px;
                         width: 23vw;
                         border: 2px solid grey;
                         user-select: none;
                         background-color: rgba(221, 221, 221, 0.616);
                    }
               }
               &Select {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(221, 221, 221);
                    width: 5vw;
                    height: 50px;
                    border-radius: 8px;
                    border: 2px solid rgb(207, 207, 207);
                    margin-left: 0.15vw;
                    transition: all 0.33s ease;
                    position: relative;
                    &Value {
                    }
               }
               &Select:hover {
                    background-color: rgba(75, 76, 77, 0.284);
                    &Value {
                    }
               }
          }
     }
     &__currencyList {
          background-color: rgb(255, 255, 255);
          width: 75vw;
          height: 65vh;
          margin-top: 1vh;
          border-radius: 15px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          overflow-x: hidden;
          &Global {
               width: 65%;
               border-bottom-right-radius: 30px;
               border-top-right-radius: 30px;
               border-bottom-left-radius: 15px;
               border-top-left-radius: 15px;
               background-color: rgb(194, 194, 194);
               overflow-y: auto;
               position: relative;

               &Container {
                    display: flex;
                    margin-top: 5px;
                    flex-wrap: wrap;
                    justify-content: center;
               }
          }

          &Like {
               overflow-y: auto;
               width: 40%;

               &Container {
                    margin-top: 5px;
                    display: flex;
                    flex-wrap: wrap;
               }
          }

          &Item {
               width: 18.2vw;
               height: 45px;
               border-radius: 5px;
               border: 2px solid grey;
               background-color: rgb(243, 243, 235);

               margin-top: 30px;
               display: flex;
               justify-content: flex-start;
               align-items: center;
               position: relative;
               transition: background-color 0.33s ease-in-out;
               user-select: none;
               cursor: pointer;
               &Name {
                    font-size: 2vw;
                    color: grey;
                    margin-left: 10px;
                    position: absolute;
                    top: 10px;
                    left: 35%;
               }
               &Value {
                    font-size: 1.7vw;
                    margin-left: 5px;
               }
               &Like {
                    position: absolute;
                    top: 5px;
                    left: 77%;
                    width: 30%;
               }
          }
          &Item:hover {
               background-color: rgb(255, 255, 157);
          }
     }
}
