@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Gravitas+One&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Russo+One&family=Tektur:wght@400..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(77, 70, 197)), color-stop(45%, rgb(80, 80, 201)), to(rgb(0, 212, 255)));
  background: linear-gradient(90deg, rgb(77, 70, 197) 20%, rgb(80, 80, 201) 45%, rgb(0, 212, 255) 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__titleStart {
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 40px;
}
.header__titleEnd:hover {
  color: rgb(255, 244, 149);
}
.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__timeValue {
  width: 100px;
  font-size: 18px;
}
.header__currencyList {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(247, 222, 4);
  border-radius: 7px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.header__currencyList:hover {
  background-color: rgba(247, 222, 4, 0.5);
  color: rgb(207, 207, 207);
}
.header__selectDefaultCurrency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35%;
  background-color: rgb(221, 221, 221);
  width: 9vw;
  border-radius: 8px;
  border: 2px solid rgb(207, 207, 207);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__selectDefaultCurrencyValue {
  margin-left: 15%;
}
.header__selectDefaultCurrency:hover {
  background-color: rgb(196, 192, 192);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main__moneyChange {
  background-color: aliceblue;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10%;
  border-radius: 20px;
}
.main__moneyChangeInfo {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 23px;
  font-weight: 677;
}
.main__moneyChangeCourse {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 777;
  margin-top: 5px;
}
.main__moneyChangeWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  gap: 15px;
  padding: 10px 10px 10px 10px;
}
.main__moneyChangeWindowSum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main__moneyChangeWindowSumLabel {
  position: absolute;
  left: 0px;
  top: -20px;
  font-size: 18px;
}
.main__moneyChangeWindowSumInput {
  height: 50px;
  outline: none;
  border-radius: 10px;
  width: 23vw;
  border: 2px solid grey;
}
.main__moneyChangeWindowResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main__moneyChangeWindowResultLabel {
  position: absolute;
  left: 0px;
  top: -20px;
  font-size: 18px;
}
.main__moneyChangeWindowResultInput {
  height: 50px;
  outline: none;
  border-radius: 10px;
  width: 23vw;
  border: 2px solid grey;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(221, 221, 221, 0.616);
}
.main__moneyChangeWindowSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(221, 221, 221);
  width: 5vw;
  height: 50px;
  border-radius: 8px;
  border: 2px solid rgb(207, 207, 207);
  margin-left: 0.15vw;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
  position: relative;
}
.main__moneyChangeWindowSelect:hover {
  background-color: rgba(75, 76, 77, 0.284);
}
.main__currencyList {
  background-color: rgb(255, 255, 255);
  width: 75vw;
  height: 65vh;
  margin-top: 10vh;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__currencyListGlobal {
  width: 60%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgb(194, 194, 194);
  overflow-y: auto;
  position: relative;
}
.main__currencyListGlobalInfo {
  font-size: 30px;
  font-weight: 900;
  margin-left: 15px;
  position: fixed;
  z-index: 3;
  background-color: rgb(114, 61, 236);
  border-radius: 5px;
}
.main__currencyListGlobalInfoDop {
  font-size: 25px;
}
.main__currencyListGlobalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__currencyListLike {
  overflow-y: auto;
  width: 40%;
}
.main__currencyListLikeInfo {
  font-size: 30px;
  font-weight: 900;
  margin-left: 15px;
  position: fixed;
  z-index: 3;
  background-color: rgb(34, 187, 233);
  border-radius: 5px;
}
.main__currencyListLikeContainer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__currencyListItem {
  width: 13.2vw;
  height: 45px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: rgb(243, 243, 235);
  margin-left: 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background-color 0.33s ease-in-out;
  transition: background-color 0.33s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main__currencyListItemName {
  font-size: 30px;
  color: grey;
  margin-left: 5px;
}
.main__currencyListItemValue {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 40%;
}
.main__currencyListItemLike {
  position: absolute;
  top: 5px;
  left: 83%;
}
.main__currencyListItem:hover {
  background-color: rgb(255, 255, 157);
}

.selectList {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 9vw;
  min-height: 10vh;
  max-height: 30vh;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectList__item {
  padding: 5px 5px 5px 5px;
  width: 92%;
  border-bottom: 2px solid black;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
.selectList__itemName {
  font-size: 20px;
}
.selectList__item:hover {
  background-color: rgb(134, 161, 235);
}

.selectList::-webkit-scrollbar {
  width: 10px;
}